global-reset()

body
  color: #293241
  margin: 0

*
  box-sizing: border-box
  font-family: Rubik, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

section 
  padding: 1rem

a 
  color: #EE6C4D

h1, h2, h3, h4, h5, h6
  color: #EE6C4D
  font-family: Ubuntu, sans-serif
  font-weight: bold
  text-transform: uppercase
  letter-spacing: .15rem


.hidden
  display: none !important

#container
  position: relative

section
  padding: 2rem

.columns
  display: flex

.column
  flex: 1

.field
  align-items: center
  margin: .5rem 0

.has-text-center
  text-align: center

.has-text-right
  text-align: right
.accent
  color: #f573e9 !important

.accent2
  color: #EE6C4D !important

.docs
  background-color: #fff
  position: absolute
  width: 50vw
  height: 100vh
  overflow: auto
  left: 0
  @media (max-width: 910px)
    width: 100vw
  p
    line-height: 1.5rem
  h2
    display: flex
    align-items: center
    i
      color: #7387f5