.creator
  position: absolute
  right: 0
  background-color: #212121
  color: #E0FBFC
  width: 50vw
  height: 100vh
  overflow: auto
  @media (max-width: 910px)
    display: none
  textarea
    width: 100%
    height: 24rem
  input
    width: 100%
  h1, h2
    color: #00fbff
  h3, h4, h5, h6
    color: #7387f5

  .hidden
    display: none

  ul
    padding: 0
