@require('base')

.creator
  position: absolute
  right: 0
  background-color: #212121
  color: #E0FBFC
  width: 50vw
  height: 100vh
  overflow: auto
  @media (max-width: 910px)
    display: none
  textarea
    width: 100%
    height: 20rem
  input:not([type='radio']):not([type='checkbox'])
    width: 100%
  h1
    font-size: 2rem
  h1, h2
    color: #00fbff
  h3, h4, h5, h6
    color: #7387f5

  .io
    ul
      border-radius: $radius
      background-color: #333
      color: #eee  
      margin: 0 auto
      padding: 1rem
      max-width: 14rem
  ul
    padding: 0
    list-style: none
    li
      line-height: 1.5rem
  
  .heading
    background-color: #222
    padding: .5rem
    ul
      padding: 0
      margin: 0
      li
        transition: all .5s
        span
          font-weight: bold
          border-radius: $radius
          display: inline-block
          padding: 1rem
          color: #666
        &.active
          span
            font-size: 1rem
            color: #00fbff
            background-color: #1F1F1F
          

  .fixed
    align-items: center
    width: 50vw
    position: fixed
    bottom: 0
    right: 0
    background-color: #333
    z-index: 13
    padding: 0 1rem

  .generator-landing
    width: 100%
    height: 90vh
    display: flex
    align-items: center
    .float
      width: 100%

  .subsection
    padding-bottom: 4rem