textarea, input:not([type='radio']):not([type='checkbox'])
  padding: .5rem
  font-size: 1rem
  background: rgba(10,10,10,.2)
  color: #fff
  border: 0
  border-bottom: 1px solid #FFF
  outline: none
  &:focus
    background: rgba(0,0,0,.5)    
  &:disabled
    color: #333