<section data-controller="Mapsv.CreatorCntrl" class="creator">

  <div class="subsection" data-show="step1">
    <h2>BMAP Biolerplate</h2>

    <p>This generator lets you create all the code and documentation you need to build a Bitcoin app.</p>
  
    <p>Start by creating some B content, then assign some MAP attributes. That's all you need to generate the code!
      <br />
      You can also make a demo tx with your data right from this tool as well.</p>
      <br />
    <p class="control">
      <button class="primary" data-on-click="goToStep" data-parameter="2"><i class="fa fa-flask"></i>&nbsp; &nbsp; Start Building</button>
    </p>
  </div>

  <div class="subsection" data-show="step2">
    <h2>Step 1</h2>
    <h4>B Content</h4>
    <p>Add some markdown here. Here's a <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">cheatsheet</a> for reference.<br />
      We will add other content types here but for now, just markdown.</p>
    <div>

    <div class="field is-grouped is-grouped-multiline">
      <div class="control">
        <div class="tags has-addons">
          <span class="tag is-dark">text</span>
          <span class="tag is-info">markdown</span>
        </div>
      </div>
    </div>
    <br />
    <label class="checkbox">
      <input type="checkbox" checked data-model="enableB">
      Enable B Content
    </label>
    <br />
    <br />
    <textarea data-disabled="disableB" class="textarea" data-model="bcontent"></textarea>

    <br />
    <br />

  <button class="primary" data-on-click="goToStep" data-parameter="3">Next Step - MAP Attributes</button>
    <br />
    </div>
  </div>
  
  <div class="subsection" data-show="step3">
    <h2>Step 2</h2>
    <h4>MAP Attributes</h4>

    <p>The "app" and "type" keys are required. Set the "app" key to a unique namespace for your application, and set "type" to differentiate between different actions within your app, such as "comment" or  "vote".</p>
    <br />
  
    <div class="columns field">
      <div class="column">
        <b>Key Name</b>
      </div>
      <div class="column">
        <b>Value</b>
      </div>
    </div>

    <div class="columns field">
      <div class="column">
        <span class="control">app</span>
      </div>
      <div class="column">
        <input type="text" class="input" placeholder="MyAppName" data-model="appField" data-on-blur="updatePreview">
      </div>
    </div>

    <div class="columns field">
      <div class="column">
        <span class="control">type</span>
      </div>
      <div class="column">
        <input type="text" class="input" placeholder="action_type" data-model="typeField" data-on-blur="updatePreview">
      </div>
    </div>  
  
    <div data-repeat="key in keys">
      <div class="columns field">
        <div class="column control">
          <input type="text" class="input" placeholder="key" data-model="key.name" data-on-blur="updatePreview">
        </div>
        <div class="column control">
          <input type="text" class="input" placeholder="value" data-model="key.value" data-on-blur="updatePreview">
        </div>
        <br />
      </div>
    </div>
  
    <div class="field">
      <p class="control has-text-right">
        <button class="button is-light is-small" data-on-click="addKey">Add Another Key</button>
      </p>
    </div>
  
    <br />

    <h4>OP RETURN PREVIEW</h4>
    <pre class="language-markup" data-model="opReturnPreview"></pre>

    <br />

    <div class="wallet" data-controller="Mapsv.WalletCntrl" data-include="'views/wallet.html'"></div>
    <br />
    <div class="field columns">
      <p data-show="!Current.walletInitialized">To generate a real transaction with this data, sign in with a wif. If you skip this step, the demo app will just be an empty page if no txs exists on the chain with these MAP keys.</p>

      <p data-show="fatURI">
        <a data-href="fatURI">Fat URI</a>
      </p>

      <p class="control column">
        <button class="primary" data-on-click="makeBmapTx" data-model="generateText"></button>
      </p>
      <p class="control column">
        <button class="primary" data-on-click="goToStep" data-parameter="4">Skip (Code Only)</button>
      </p>
    </div>

<!--     
    <div class="money-button"
      data-to="1372"
      data-amount=".001"
      data-currency="USD"
      data-label="Generate Tx"
      data-client-identifier="f26be4b0e7ac096caa1358903bafee26"
      data-button-id="1560109201287"
      data-button-data="{}"
      data-type="buy"
      ></div>
    
    <script src="https://www.moneybutton.com/moneybutton.js"></script> -->
  </div>

  <div class="subsection" data-show="step4">

    <h2>Step 3</h2>
    <h4>Build The App</h4>

    <br />

    <div data-show="responseTx">
      <b>Successfully Generated Transaction</b>
      <p data-model="responseTx"></p>
    </div>

    <br />

    <h4>App Demo</h4>
    <p>For a complete example, click this magical button.</p>
    
    <p>This opens the demo in a popup. Make sure it's not blocked.</p>

    <br />
    <div class="field has-text-center">
      <button class="primary" data-on-click="openDemo"><i class="fas fa-magic"></i> &nbsp;&nbsp; Launch App</button>
    </div>

    <br />
    <br />

    <h4>BitQuery</h4>
    Query matching your records. <a href="https://docs.planaria.network/#/query" target="_blank">More info</a>

    <pre class="language-json copyme" data-model="dynamicBitquery"></pre>
    
    <br />

    <h4>Planarium Query</h4>
    <p>Query the BMAP Planarium (API) for records of this type.</p>
    <pre class="language-javascript copyme" data-model="bitqueryFetch"></pre>
  
    <br />

    <h4>Planarium Socket Connection</h4>
    Listen for new transactions of this type. <a href="https://docs.planaria.network/#/socket" target="_blank">More info</a> (Neon Planaria does not yet support a standard socket connection.)

    <pre class="language-javascript copyme" data-model="dynamicBitsocket"></pre>

    <br />

    <h4>Write new Transactions</h4>
    Generate new transactions of this type with the <a href="https://github.com/rohenaz/satchel" target="_blank">Satchel BSV</a> wallet library.

    <pre class="language-javascript copyme" data-model="buildTxScript"></pre>

    <br />
  
    <div class="columns field">
      <div class="column control">
        <button class="primary" data-on-click="goToStep" data-parameter="3">Back</button>
      </div>
    </div>
      
  </div>

</section>